*.vsidx
*.vsidx
*.db-shm
*.cache
*.vsidx
*.db
*.cache
*.vsidx
*.vsidx
/Source/Projects/VisualBrutalityCorpses/.vs
/Source/Projects/VisualBrutalityCorpses/VisualBrutalityCorpses/obj
/Source/Projects/VisualBrutalityFragments/.vs
/Source/Projects/VisualBrutalityCorpses/.vs
/Source/Projects/VisualBrutalityFragments/VisualBrutalityFragments/obj
/Source/Projects/VisualBrutalityCorpses/VisualBrutalityCorpses/obj
